 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Space+Grotesk:wght@300..700&family=Syne+Mono&display=swap');


 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     background-color: #ffffff;
     color: #191a23;
     font-family: "Space Grotesk", sans-serif;
 }

 p {
     margin: 0;
 }

 .container {
     padding: 15px 70px;
     margin: auto;
     justify-content: center;
     align-items: center;
 }

 .case-studies,
 .working-process,
 .team {
     width: 100%;
     margin-bottom: 50px;
 }

 .case-studies {
     margin-top: 50px;
 }

 .case-item+.case-item {
     border-left: 1px solid #ffffff;
 }

 .case-box {
     width: 100%;
     display: flex;
     padding: 70px 65px;
     background-color: #191a23;
     border-radius: 30px;
     gap: 60px;
 }

 .case-item {
     width: 33.333%;
     padding-left: 50px;
     padding-right: 50px;
 }


 .case-description {
     width: 100%;
     min-height: 150px;
 }


 .case-description p {
     color: #ffffff;
     font-size: 18px;
     font-weight: 400;
     line-height: 1.5;
     font-style: normal;
     line-height: normal;
 }


 .learn-more {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 20px;
     margin-top: 20px;
 }


 .learn-text {
     width: auto;
 }


 .learn-text p {
     color: #b9ff66;
     font-size: 18px;
     font-weight: 400;
 }

 .learn-icon {
     width: 15%;
     max-width: 35px;
 }


 .learn-icon img {
     width: 100%;
     display: block;
 }


 .working {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 30px;
     margin-bottom: 50px;
 }

 .our {
     width: auto;
     padding: 10px 15px;
     background-color: #b9ff66;
     border-radius: 5px;
 }


 .our p {
     color: #000000;
     font-size: 30px;
     font-weight: 500;
     line-height: 1;

 }

 .step {
     width: 36%;
 }

 .step p {
     color: #191a23;
     font-size: 15px;
     font-weight: 400;
     line-height: 1.5;
 }

 .process-list {
     width: 100%;
 }

 .list {
     width: 100%;
     margin-bottom: 30px;
     padding-left: 40px;
     padding-right: 40px;
     background-color: #b9ff66;
     border: 1px solid #191a23;
     border-bottom: 4px solid #191a23;
     border-radius: 25px;
 }


 .process {
     width: 100%;
     margin-bottom: 30px;
     padding-left: 40px;
     padding-right: 40px;
     background-color: #f3f3f3;
     border: 1px solid #191a23;
     border-bottom: 4px solid #191a23;
     border-radius: 25px;
 }


 .process-header {
     width: 100%;
     min-height: 90px;
     display: flex;
     align-items: center;
     padding-top: 30px;
     padding-bottom: 30px;
 }


 .process-number {
     width: 10%;
     min-width: 75px;
 }


 .process-number p {
     color: #000000;
     font-size: 45px;
     font-weight: 500;
     line-height: 1;
 }

 .process-name {
     width: 80%;
 }

 .process-name p {
     color: #000000;
     font-size: 20px;
     font-weight: 500;
     line-height: 1.5;
 }


 .process-icon {
     width: 4%;
     min-width: 35px;
     margin-left: auto;
 }

 .process-icon img {
     width: 100%;
     display: block;
 }

 .process-description {
     width: 100%;
     padding-top: 30px;
     padding-bottom: 30px;
     border-top: 1px solid #191a23;
 }

 .process-description p {
     width: 100%;
     color: #191a23;
     font-size: 15px;
     font-weight: 400;
     line-height: 1.5;
 }


 .team-list {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 40px;
 }


 .team-card {
     width: 31%;
     min-height: 255px;
     margin-bottom: 30px;
     padding: 30px;
     background-color: #ffffff;
     border: 1px solid #191a23;
     border-bottom: 4px solid #191a23;
     border-radius: 25px;
 }


 .member-top {
     width: 100%;
     display: flex;
     align-items: flex-end;
     padding-bottom: 30px;
     border-bottom: 1px solid #191a23;
 }

 .member-photo {
     width: 35%;
 }

 .member-photo img {
     width: 100%;
     display: block;
 }

 .member-info {
     width: 54%;
     padding-left: 20px;
 }


 .member-name {
     width: 100%;
     margin-bottom: 10px;
 }


 .member-name p {
     color: #000000;
     font-size: 16px;
     font-weight: 600;
     line-height: 1.5;
 }

 .member-position {
     width: 100%;
 }

 .member-position p {
     color: #000000;
     font-size: 15px;
     font-weight: 400;
     line-height: 1.3;
 }


 .ingreenicon {
     width: 9%;
     min-width: 25px;
     margin-left: auto;
     align-self: flex-start;
 }


 .ingreenicon img {
     width: 100%;
     display: block;
 }

 .member-description {
     width: 100%;
     padding-top: 30px;
 }


 .member-description p {
     width: 100%;
     color: #191a23;
     font-size: 13px;
     font-weight: 400;
     line-height: 1.5;
 }

 .team-button-box {
     width: 100%;
     display: flex;
     justify-content: flex-end;
 }


 .team-button {
     width: 20%;
     min-width: 160px;
     padding: 25px;
     background-color: #191a23;
     border-radius: 10px;
     cursor: pointer;
 }


 .team-button p {
     color: #ffffff;
     font-size: 15px;
     font-weight: 400;
     text-align: center;
 }


 @media screen and (max-width: 1440px) {

     .container {
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         padding-top: 20px;
         padding-bottom: 50px;
     }


     .working {
         width: 100%;
         display: flex;
         align-items: center;
         gap: 30px;
         margin-bottom: 50px;
     }


     .our {
         width: auto;
         padding: 6px 12px;
     }


     .our p {
         font-size: 30px;

     }


     .step {
         width: 45%;
     }


     .step p {
         font-size: 16px;
         line-height: 1.5;
     }

     .case-box {
         width: 100%;
         display: flex;
         padding: 55px 35px;
         border-radius: 30px;
     }

     .case-item {
         width: 33.333%;
         padding-left: 30px;
         padding-right: 30px;
     }

     .case-description {
         width: 100%;
         min-height: 260px;
     }

     .case-description p {
         width: 100%;
         font-size: 16px;
         line-height: 1.5;
     }


     .learn-more {
         width: 100%;
         display: flex;
         align-items: center;
         gap: 12px;
     }


     .learn-text {
         width: auto;
     }


     .learn-text p {
         font-size: 17px;
     }


     .learn-icon {
         width: 12%;
     }


     .list,
     .process {
         width: 100%;
         margin-bottom: 20px;
         padding-left: 35px;
         padding-right: 35px;
     }


     .process-header {
         width: 100%;
         min-height: 90px;
         padding-top: 20px;
         padding-bottom: 20px;
     }

     .process-number {
         width: 10%;
     }

     .process-number p {
         font-size: 38px;
     }

     .process-name {
         width: 80%;
     }


     .process-name p {
         font-size: 18px;
     }


     .process-icon {
         width: 5%;
         margin-left: auto;
     }

     .process-description {
         width: 100%;
         padding-top: 25px;
         padding-bottom: 30px;
     }

     .team-list {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 30px;
     }

     .team-card {
         width: 48%;
         min-height: 340px;
         margin-bottom: 0px;
         padding: 25px;
         border-radius: 25px;
     }

     .member-top {
         width: 100%;
         padding-bottom: 25px;
     }

     .member-photo {
         width: 30%;
     }

     .member-info {
         width: 55%;
         padding-left: 20px;
     }


     .ingreen-icon {
         width: 9%;
         margin-left: auto;
     }

     .member-name p {
         font-size: 19px;
     }

     .member-position p {
         font-size: 15px;
         line-height: 1.4;
     }


     .member-description {
         width: 100%;

         padding-top: 30px;
     }

     .member-description p {
         font-size: 15px;
         line-height: 1.5;
     }

     .team-button-box {
         width: 100%;
         margin-top: 30px;
     }

     .team-button {
         width: 25%;
         padding: 18px;
     }

 }

 @media screen and (max-width: 700px) {

     .container {
         width: 100%;
         padding-top: 20px;

     }


     .case-studies,
     .working-process,
     .team {
         margin-bottom: 30px;
         width: 100%;
     }

     .section-heading,
     .working {
         flex-direction: column;
         align-items: flex-start;
         gap: 15px;
         margin-bottom: 30px;
     }

     .our {
         width: auto;
         padding: 10px 15px;
     }

     .our p {
         font-size: 25px;
     }

     .step {
         width: 100%;
     }

     .step p {
         font-size: 13px;
     }

     .case-box {
         flex-direction: column;
         padding: 30px;
     }

     .case-item {
         width: 100%;
         padding-top: 20px;
         padding-bottom: 20px;
         padding: 30px 0;
     }

     .case-item+.case-item {
         border-left: none;
         border-top: 1px solid #ffffff;
     }

     .case-description {
         min-height: auto;
         margin-bottom: 20px;
     }

     .case-description p {
         font-size: 13px;
         line-height: 1.5;

     }

     .learn-icon {
         width: 8%;
         max-width: 32px;
     }

     .list,
     .process {
         margin-bottom: 20px;
         padding-left: 20px;
         padding-right: 20px;
         border-radius: 20px;
     }

     .process-header {
         min-height: 75px;
         padding-top: 20px;
         padding-bottom: 20px;
     }

     .process-number {
         width: 18%;
         min-width: 55px;
     }

     .process-number p {
         font-size: 30px;
     }

     .process-name {
         width: 67%;
     }

     .process-name p {
         font-size: 15px;
     }

     .process-icon {
         width: 9%;
         min-width: 30px;
     }

     .process-description {
         padding-top: 20px;
         padding-bottom: 20px;
     }

     .process-description p {
         font-size: 12px;
     }

     .team-list {
         display: block;
     }


     .team-card {
         width: 100%;
         min-height: auto;
         margin-bottom: 20px;
         padding: 30px;
     }


     .member-photo {
         width: 30%;
     }


     .member-info {
         width: 58%;
         padding-left: 15px;
     }

     .member-name p {
         font-size: 16px;
     }

     .member-position p {
         font-size: 13px;
     }

     .member-description p {
         font-size: 13px;
     }

     .linkedin-icon {
         width: 8%;
         min-width: 25px;
     }

     .team-button {
         width: 100%;
         padding: 20px;
         margin-top: 20px;
     }

 }