  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Space+Grotesk:wght@300..700&family=Syne+Mono&display=swap');

  * {
      box-sizing: border-box;
  }

  body {
      font-family: "Space Grotesk", sans-serif;
      margin: 0px;
  }

  .container {
      padding: 15px 70px;
      margin: auto;
      justify-content: center;
      align-items: center;

  }


  .font {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      gap: 40px;
      align-items: flex-start;
  }

  .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      width: 50%;
  }

  .right {
      max-width: 50%;

  }

  .right1 {
      display: none;
  }

  h1 {
      font-size: 55px;
      margin: 0;
      line-height: normal;
  }

  p {
      font-size: 20px;
      line-height: normal;
  }

  .book {
      background: #191A23;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      margin-top: 10px;
      display: flex;
      padding: 20px 35px;
      align-items: flex-start;
      gap: 10px;
  }

  .companylogo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
  }


  .servicestitle {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 50px;
  }

  .servicestitle h2 {
      background: #B9FF66;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 35px;
      margin: 0;

  }

  .services-title p {
      font-size: 20px;
      width: 50%;
  }

  .services {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      margin-top: 40px;
  }

  .service-card {
      border: 1px solid #191A23;
      border-bottom: 6px solid #191A23;
      border-radius: 30px;
      padding: 35px;
      min-height: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(50% - 17.5px);
      box-sizing: border-box;
  }

  .service-card h3 {
      font-size: 30px;
      margin: 0;
  }

  .service-card h3 span {
      border-radius: 5px;
      padding: 2px 6px;
  }

  .card-img {
      width: 45%;
  }

  .learn {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 80px;
      font-size: 25px;
      padding: 30px;
  }

  .learn img {
      width: 50px;
  }

  .learn.white {
      color: white;
  }


  .card1 {
      background: #F3F3F3;
  }

  .card1 h3 span {
      background: #B9FF66;
  }

  .card2 {
      background: #B9FF66;
  }

  .card2 h3 span {
      background: white;
  }

  .card3 {
      background: #191A23;
  }

  .card3 h3 span {
      background: white;
      color: black;
  }

  .card4 {
      background: #F3F3F3;
  }

  .card4 h3 span {
      background: #B9FF66;
  }

  .card5 {
      background: #B9FF66;
  }

  .card5 h3 span {
      background: white;
  }

  .card6 {
      background: #191A23;
  }

  .card6 h3 span {
      background: #B9FF66;
      color: black;
  }

  .learn {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 70px;
      font-size: 18px;
  }

  .learn img {
      width: 40px;
  }

  .learn.white {
      color: white;
  }

  .down {
      display: flex;
      padding: 0 100px;
      align-items: center;
      gap: 300px;
      border-radius: 45px;
      background: #F3F3F3;
      margin-top: 70px;
  }

  .downtext {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
  }

  .downtext h3 {
      font-size: 30px;
      margin: 0;
  }

  .downtext p {
      font-size: 20px;
  }

  .get {
      display: flex;
      padding: 20px 35px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 14px;
      background: black;
      color: white;
      font-size: 20px;
  }

  @media screen and (max-width: 1440px) {
      .container {
          padding: 30px 40px;
      }

      .companylogo {
          margin-top: 50px;
      }


      h1 {
          font-size: 45px;
      }

      .servicestitle {
          margin-top: 30px;
      }

      .services {
          gap: 25px;
      }

      .service-card {
          padding: 25px;
          min-height: 225px;
      }

      .learn {
          font-size: 20px;
          margin-top: 100px;
      }

      .service-card h3 {
          font-size: 20px;
      }

      .downimg {
          width: 300px;
      }

      .down {
          padding: 30px;
          gap: 25px;
      }

      .get {
          padding: 20px;
      }

  }

  @media screen and (max-width: 700px) {
      .container {
          padding: 25px 20px;
      }


      .logo {
          width: auto;
          justify-content: flex-start;
          margin: 0;
      }

      .font {
          flex-direction: column;
          gap: 20px;
      }

      .left {
          width: 100%;
          gap: 20px;
      }

      .right {
          display: none;
      }

      .right1 {
          display: block;
          width: 100%;
      }

      h1 {
          font-size: 42px;
      }

      p {
          font-size: 16px;
      }

      .book {
          width: 100%;
          justify-content: center;
      }

      .companylogo {
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 30px;
          margin-top: 50px;
      }

      .companylogo div {
          width: 45%;
      }

      .servicestitle {
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-top: 50px;
      }

      .servicestitle p {
          font-size: 18px;
      }

      .services {
          grid-template-columns: 1fr;
      }

      .service-card {
          width: 100%;
      }


      .service-card h3 {
          font-size: 24px;
      }

      .learn span {
          display: none;
      }

      .card-img {
          width: 45%;
      }

      .down {
          padding: 30px;
          gap: 0;
          margin-top: 50px;
      }

      .downimg {
          display: none;
      }

      .downtext p {
          font-size: 16px;
      }

      .get {
          font-size: 16px;
          width: 100%;
          justify-content: center;
      }

  }